<div class="container p-4">
    <div class="row mt-2">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h3>Nuevo Usuario</h3>
            </div>
        </div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/usuarios">Listar Usuarios</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear Usuario</li>
            </ol>
        </nav>
        <div class="col-md-12 p-2">
            <form action="../agregarUsuarios" method="POST">
                <div class="form-group p-1">
                    <label>Nombres y apellidos</label>
                    <input type="text" name="nombre" required placeholder="Nombres y apellidos" class="form-control" autofocus>
                </div>
                <div class="form-group p-1">
                    <label>Correo Electronico</label>
                    <input type="email" name="correo" required placeholder="Correo Electronico" class="form-control">
                </div>
                <div class="form-group p-1">
                    <label>Rol</label>
                    <select class="form-select" name="rol" required >
                        <option value="">Selecciona</option>
                        {{#if roles}}
                            {{#each roles}}
                                <option value="{{nombre}}">{{nombre}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </div>
                <div class="form-group p-1">
                    <label>Estado</label>
                    <select class="form-select" name="estado" required >
                        <option value="">Selecciona</option>
                        {{#if estados}}
                            {{#each estados}}
                                <option value="{{nombre}}">{{nombre}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </div>
                <div class="col-md-4 offset-md-4 py-2">
                    <button class="btn btn-primary form-control">
                        Crear
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>