<div class="col-md-3 offset-md-4"><h2>Gestión de Usuarios</h2>
</div>
<hr>
<br>
<br>

<div class="container">
  <table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">ID usuario</th>
      <th scope="col">Nombre de Usuario</th>
      <th scope="col">Rol de Usuario</th>
      <th scope="col">Estado de Usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Juan</td>
      <td>Vendedor</td>
      <td>Autorizado</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Eliza</td>
      <td>Administrador</td>
      <td>Autorizado</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Larry</td>
      <td>Operario</td>
      <td>Pendiente</td>
    </tr>
  </tbody>
</table>
<br>
<hr>
<div class="container">
    <a class="btn btn-primary" href="#" role="button">Modificar</a>
</div>
</div>
