<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">DevApps</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav" style="color: white;">
        <div class="row">
            {{#if usuario}}
                <li class="nav-item">
                <div>{{usuario.displayName}} - {{rol}}</div>
                </li>
                <li class="nav-item">
                <a href="/logout" class="nav-link">Salir</a>
                </li>
            {{else}}
                <li class="nav-item">
                <a href="/login" class="nav-link">Ingresar</a>
                </li>
                <!--li class="nav-item">
                <a href="/registro" class="nav-link">Registrarse</a>
                </li-->
            {{/if}}
        </div>
    </div>
</header>