<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <h5>{{#if usuario}}
                {{displayName}} - {{email}}
                {{/if}}
            </h5>
            <li class="nav-item">
                <a class="nav-link {{#if activeProductos }} active {{/if}} " aria-current="page" href="/productos">
                    <i class="fas fa-hamburger"></i>
                    Productos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if activeVentas }} active {{/if}}"  href="/ventas">
                    <i class="fas fa-shopping-basket"></i>
                    Ventas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if activeUsuarios }} active {{/if}}" href="/usuarios">
                    <i class="fas fa-user-tie"></i>
                    Usuarios
                </a>
            </li>
        </ul>
    </div>
</nav>