<h3>Listado de productos</h3>

<div class="col-md-3">
    <div class="card text-center">
        <div class="card-body">
            Producto
        </div>
        <div class="card-footer">
            <p>IDProducto</p>
            <p>NombreProducto</p>
            <p>DescripciónProducto</p>
            <p>PrecioProducto</p>
            <p>ImagenProducto</p>
            <div class="row">
                <p><a href="/" class="btn btn-info">Editar</a></p>
                
                <p><a href="/" class="btn btn-danger">Eliminar</a></p>
            </div>
        </div>
    </div>
</div>