

<div class="container p-4">
    <div class="row">

        <h3>Listado de productos</h3>

            <div class="col-md-3 p-4">
                <div class="card text-center">
                    <div class="card-body">
                        Producto
                    </div>
                    <div class="card-footer">
                        <p>IDProducto</p>
                        <p>NombreProducto</p>
                        <p>DescripciónProducto</p>
                        <p>PrecioProducto</p>
                        <p>ImagenProducto</p>
                        <div class="row">
                            <p><a href="/editarProductos" class="btn btn-info form-control">Editar</a></p>
                            
                            <p><a href="/" class="btn btn-danger form-control">Eliminar</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 p-4">
                <div class="card text-center">
                    <div class="card-body">
                        Producto
                    </div>
                    <div class="card-footer">
                        <p>IDProducto</p>
                        <p>NombreProducto</p>
                        <p>DescripciónProducto</p>
                        <p>PrecioProducto</p>
                        <p>ImagenProducto</p>
                        <div class="row">
                            <p><a href="/editarProductos" class="btn btn-info form-control">Editar</a></p>
                            
                            <p><a href="/" class="btn btn-danger form-control">Eliminar</a></p>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</div>